{% assign locale = include.locale | default: site.locale %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Primary navigation">
        <span class="site-title">
          {{ site.masthead_title | default: site.title | escape_once | strip }}
        </span>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[locale].menu_label | default: "Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
